* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  position: sticky;
  top: 0;
  background-color: aliceblue;
  height: 100px;
}

#navBar {
  width: 50%;
  min-width: 550px;
  height: 100px;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}

.navLink {
  font-size: 20px;
  text-shadow: 1px 1px 2px darkslategrey;
  cursor: pointer;
  padding: 20px;
  
}

.navLink:hover {
  border-bottom: black 2px solid;
}
/* .navLink:hover::after {
  content: ' *';
  color: black;
}

.navLink:hover::before {
  content: '* ';
  color: black;
} */

.pizza-image {
  background-image: url('https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=781&q=80');
  width: 100%;
  height: 75vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutus {
  width: 100%;
  height: 400px;
  background-color: bisque;
  display: flex;
 
}

.leftbox, .rightbox {
  flex: 1;
  height: 100%;
}

.leftbox, .rightbox.second{
 background-color: white;
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 30px;
}

.rightbox {
 background-color: rgb(215, 255, 255);
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.leftbox:hover, .rightbox:hover {
  flex: 1.75;
  transition-delay: 500;
  transition:
 flex 0.7s cubic-bezier(0.61,-0.05, 0.7,-0.11),
 background 0.2s;
}

.dessert-image {
  background-image: url('https://images.unsplash.com/photo-1551024506-0bccd828d307?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80');
  width: 100%;
  height: 75vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.leftbox.second {
  background-color: rgb(215, 255, 255);
}

.rightbox.second {
  background-color: white;
}

#emailForm {
  height: 100%;
  width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: auto;
}

input {
  width: 300px;
  height: 30px;
  margin: 15px;
  border-radius: 10px;
  text-align: center;
}

input::placeholder {
  text-align: center;
}

button {
 width: 150px;
 height: 30px;
 margin-top: 15px;
 border-radius: 10px;
 cursor: pointer;
 background-color: rgb(22, 136, 22);
 border: none;
 box-shadow: 0px 0px 1px 5px rgb(5, 129, 5);
 color: lightgreen;
 font-size: 18px;
 
}

button:hover {
 box-shadow: 0px 0px 1px 5px rgb(255, 255, 255);
color: white;

}

.leftbox:hover p, .rightbox.second:hover p  {
  font-size: 20px;
  transition:
  0.7s cubic-bezier(0.61,-0.05, 0.7,-0.11);

}

.leftbox:hover h1, .rightbox.second:hover h1 {
  font-size: 35px;
  transition:
  0.7s cubic-bezier(0.61,-0.05, 0.7,-0.11);

}

h1 {
  margin-bottom: 20px;
}

.rightbox:hover h3{
  font-size: 25px;
  transition:
  0.7s cubic-bezier(0.61,-0.05, 0.7,-0.11);
}

.rightbox:hover input{
  width: 400px;
  height: 40px;
  transition:
  0.7s cubic-bezier(0.61,-0.05, 0.7,-0.11);
}

.rightbox:hover button{
  width: 175px;
  height: 40px;
  transition:
 0.7s cubic-bezier(0.61,-0.05, 0.7,-0.11);
}

.leftbox.second:hover button {
  width: 250px;
  height: 60px;
  transition:
 0.7s cubic-bezier(0.61,-0.05, 0.7,-0.11);
 font-size: 40px;
}

.staff-image {
  background-image: url('https://images.unsplash.com/photo-1517686469429-8bdb88b9f907?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHBpenphJTIwZW1wbG95ZWV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
  width: 100%;
  height: 75vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: aliceblue;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.socialMedia {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  flex: 1;
}

.delivery {
  display: flex;
 flex-direction: column;
 text-align: center;
 justify-content: space-between;
 height: 50%;
 flex: 1;
}

footer a {
  cursor: pointer;
  text-shadow: 1px 1px 2px darkslategray;
}

footer a:hover::after {
  content: ' *';
  color: black;
}

footer a:hover::before {
  content: '* ';
  color: black;
}

.copyright {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}